/* *{
    padding:0;
    margin:0;
  }
*/
  
  @media screen and (max-width:480px){
    body{
        background-color:black;
        color:whitesmoke;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center; 
        background-repeat: no-repeat;
        background-position: center;
        backdrop-filter: blur(10px);
        background: url("../media/placeholders/loginPhone.jpg");              
      }
      .b_logo{
        display: none;
      }
      .wrapper{
        background-repeat: no-repeat;
        background-size: cover;
        /* background-image: linear-gradient(to right,black,rgba(255, 217, 0, 0.071)); */
        margin: auto;
        height: 100vh;
        border-radius: 16px;
      }
      /* Login & Signup Form CSS Start */
      .form{
        padding: 25px 30px;
      }
      .login_head{
        margin:1% 1% 1% 8%;
        
      }
      .title{
        height:50px;
        margin:0% 0 0 -3%;
        width:70%;
        position: absolute;
        
        display: inline-block;
      }
      .title h1{
        margin:0% 0% 0% 5% ;
        padding-top:2% ;
        color:gold;
      }
      img{
        position: relative;
        display: inline-block;
        height:50px;
        border-radius: 50px;
      }
      .form header{
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
        border-bottom: 1px solid #e6e6e6;
        color:gold;
      }
      .form form{
        margin: 20px 0;
      }
      .form form .error-text{
        color: #721c24;
        padding: 8px 10px;
        text-align: center;
        border-radius: 5px;
        background: #f8d7da;
        border: 1px solid #f5c6cb;
        margin-bottom: 10px;
        display: none;
      }
      .form form .name-details{
        display: flex;
      }
      .form form .field{
        display: flex;
        margin-bottom: 10px;
        flex-direction: column;
        position: relative;
        
      }
      .form form .field label{
        margin-bottom: 2px;
      }
      .form form .input input{
        height: 40px;
        width: 87%;
        font-size: 16px;
        padding: 0 10px;
        border-radius: 5px;
        color:whitesmoke;
        border: 1px solid #ccc;
        background-color: transparent;
      }
      .form form .input input:focus{
        border: 2px solid gold;
      }
      .form form .input input:active  > .form form .field label{
        color:gold;
      }
      .form form .field input{
        outline: none;
      }
      .form form .image input{
        font-size: 17px;
      }
      .form form .button input{
        height: 45px;
        width:92%;
        border: none;
        background-color: black;
        color: #fff;
        font-size: 17px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 13px;
        box-shadow: 0 0 2px gold;
        transition: transform .1s ease-in-out;
        background-image: linear-gradient(to right,black,rgba(255, 217, 0, 0.64));
      }
      .form form .button input:hover{
        transform: scale(1.02);
        background-image: linear-gradient(to right,rgba(255, 217, 0, 0.64),black);
      }
      .form form .field i{
        position: absolute;
        right: 15px;
        top: 70%;
        color: #ccc;
        cursor: pointer;
        transform: translateY(-50%);
      }
      .form form .field i.active::before{
        color: #ccc;
        content: "\f070";
      }
      .form .link{
        text-align: center;
        margin: 10px 0;
        font-size: 17px;
      }
      .form .link a{
        color:rgb(8,239,239);
      }
      .form .link a:hover{
        text-decoration: underline;
      }
      .copyrights span{
        color:gold;
    }
      .wrapper h1{
        margin-left:20px;
      }
  }
  @media screen and ((min-width:480px) and (max-width:769px)) {
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background: #000000;
        padding: 0 10px;
        background: url("../media/placeholders/login2.jpg");      
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10%;
        color:whitesmoke;
      }
      .b_logo{
        display: none;
      }
      .wrapper{
        padding:5% 5%;
        background-image: linear-gradient(to right,black,rgba(255, 217, 0, 0.071));
        max-width: 500px;
        width: 100%;
        padding:auto;
        border-radius: 16px;
        box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                    0 32px 64px -48px rgba(0,0,0,0.5);
        
      }
      .login_head{
        margin:1% 1% 1% 8%;
        
      }
      .title{
        height:50px;
        margin:-1% 0 0 -1%;
        width:70%;
        position: absolute;
        
        display: inline-block;
      }
      .title h1{
        margin:0% 0% 0% 5% ;
        padding-top:2% ;
        color:gold;
      }
      img{
        position: relative;
        display: inline-block;
        height:50px;
        border-radius: 50px;
      }
      
      .form{
        padding: 25px 30px;
        width:95%;
      }
      .form header{
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
        border-bottom: 1px solid #e6e6e6;
        color:gold
      }
      .form form{
        margin: 20px 0;
      }
      .form form .error-text{
        color: #721c24;
        padding: 8px 10px;
        text-align: center;
        border-radius: 5px;
        background: #f8d7da;
        border: 1px solid #f5c6cb;
        margin-bottom: 10px;
        display: none;
      }
      .form form .name-details{
        display: flex;
      }
      .form form .field{
        display: flex;
        margin-bottom: 10px;
        flex-direction: column;
        position: relative;
      }
      .form form .field label{
        margin-bottom: 2px;
      }
      .form form .input input{
        height: 40px;
        width: 87%;
        font-size: 16px;
        padding: 0 10px;
        border-radius: 5px;
        color:whitesmoke;
        border: 1px solid #ccc;
        background-color: transparent;
      }
      .form form .input input:focus{
        border: 2px solid gold;
      }
      .form form .input input:active  > .form form .field label{
        color:gold;
      }
      .form form .field input{
        outline: none;
      }
      .form form .image input{
        font-size: 17px;
      }
      .form form .button input{
        height: 45px;
        width:92%;
        border: none;
        background-color: black;
        color: #fff;
        font-size: 17px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 13px;
        box-shadow: 0 0 2px gold;
        transition: transform .1s ease-in-out;
        background-image: linear-gradient(to right,black,rgba(255, 217, 0, 0.64));
      }
      .form form .button input:hover{
        transform: scale(1.02);
        background-image: linear-gradient(to right,rgba(255, 217, 0, 0.64),black);
      }
      .form form .field i{
        position: absolute;
        right: 15px;
        top: 70%;
        color: #ccc;
        cursor: pointer;
        transform: translateY(-50%);
      }
      .form form .field i.active::before{
        color: #ccc;
        content: "\f070";
      }
      .form .link{
        text-align: center;
        margin: 10px 0;
        font-size: 17px;
      }
      .form .link a{
        color:rgb(8,239,239);
      }
      .form .link a:hover{
        text-decoration: underline;
      }
      .copyrights span{
        color:gold;
      }
      .wrapper h1{
        margin-left:20px;
      }
  }
  @media screen and (min-width:769px) {
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background: #000000;
        padding: 0 0px;
        backdrop-filter: blur(10px);
        background: url("../media/placeholders/login2.jpg");      
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10%;
        color:whitesmoke;
        font-size: 1.2em;
      }
      .b_logo{
        display: inline-block;
        width:30%;
      }
      .b_logo img{
        width:20%;
      }
      .wrapper{
        width:60%;
        display: inline-block;
        padding:1% 1%;
        background-image: linear-gradient(to right,black,rgba(255, 217, 0, 0.071));
        max-width: 500px;
        width: 100%;
        padding:auto;
        border-radius: 16px;
        box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                    0 32px 64px -48px rgba(0,0,0,0.5);
        
      }
      .login_head{
        margin:1% 1% 1% 8%;
        
      }
      .title{
        height:50px;
        margin:-1% 0 0 -1%;
        width:70%;
        position: absolute;
        
        display: inline-block;
      }
      .title h1{
        margin:0% 0% 0% 5% ;
        padding-top:2% ;
        color:gold;
      }
      img{
        position: relative;
        display: inline-block;
        height:50px;
        border-radius: 50px;
      }
      
      .form{
        padding: 25px 30px;
        width:95%;
      }
      .form header{
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
        border-bottom: 1px solid #e6e6e6;
        color:gold
      }
      .form form{
        margin: 20px 0;
      }
      .form form .error-text{
        color: #721c24;
        padding: 8px 10px;
        text-align: center;
        border-radius: 5px;
        background: #f8d7da;
        border: 1px solid #f5c6cb;
        margin-bottom: 10px;
        display: none;
      }
      .form form .name-details{
        display: flex;
      }
      .form form .field{
        display: flex;
        margin-bottom: 10px;
        flex-direction: column;
        position: relative;
      }
      .form form .field label{
        margin-bottom: 2px;
      }
      .form form .input input{
        height: 40px;
        width: 87%;
        font-size: 16px;
        padding: 0 10px;
        border-radius: 5px;
        color:whitesmoke;
        border: 1px solid #ccc;
        background-color: transparent;
      }
      .form form .input input:focus{
        border: 2px solid gold;
      }
      .form form .input input:active  > .form form .field label{
        color:gold;
      }
      .form form .field input{
        outline: none;
      }
      .form form .image input{
        font-size: 17px;
      }
      .form form .button input{
        height: 45px;
        width:92%;
        border: none;
        background-color: black;
        color: #fff;
        font-size: 17px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 13px;
        box-shadow: 0 0 2px gold;
        transition: transform .1s ease-in-out;
        background-image: linear-gradient(to right,black,rgba(255, 217, 0, 0.64));
      }
      .form form .button input:hover{
        transform: scale(1.02);
        background-image: linear-gradient(to right,rgba(255, 217, 0, 0.64),black);
      }
      .form form .field i{
        position: absolute;
        right: 15px;
        top: 70%;
        color: #ccc;
        cursor: pointer;
        transform: translateY(-50%);
      }
      .form form .field i.active::before{
        color: #ccc;
        content: "\f070";
      }
      .form .link{
        text-align: center;
        margin: 10px 0;
        font-size: 17px;
      }
      .form .link a{
        color:rgb(8,239,239);
      }
      .form .link a:hover{
        text-decoration: underline;
      }
      .copyrights span{
        color:gold;
      }
      .wrapper h1{
        margin-left:20px;
      }
    
  }
  
  #error{
    background-color: rgba(128, 128, 128, 0.169);
    text-align: center;
    box-shadow: 0 0 10px red;
    width:60%;
    margin:auto;
    color:red;
    font-size: 1em;
    padding: 1%;
    display: none;
  }